<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<!-- 基本設定 -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 移動設備基本設定 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- 網站 Meta 資訊 -->
	<title>童樂渡假村 Joyful resort</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- 引入 Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/frontend/css/bootstrap.min.css}">
	<!-- 網站主要樣式表 -->
	<link rel="stylesheet" th:href="@{/frontend/css/style.css}">
	<link rel="stylesheet" th:href="@{/frontend/css/my.css}">
	<!-- 響應式樣式表 -->
	<link rel="stylesheet" th:href="@{/frontend/css/responsive.css}">
	<!-- 網站圖標 -->
	<link rel="icon" th:href="@{/frontend/images/fevicon.png}" type="image/gif" />
	<!-- 自定義滾動條樣式 -->
	<link rel="stylesheet" th:href="@{/frontend/css/jquery.mCustomScrollbar.min.css}">
	<!-- 較舊IE版本支持 -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	<!-- 引入 Bootstrap 和 jQuery -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<!-- 頁首連結用的-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<!-- body 主體 -->

<body class="main-layout">

	<!-- 頁面加載動畫 -->
	<div class="loader_bg">
		<div class="loader">
			<img th:src="@{/frontend/images/loading.gif}" alt="#" />
		</div>
	</div>


	<!-- 頁面頭部 -->
	<header>
		<!-- 頭部內容 -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a href="index.html"> <img th:src="@{/frontend/images/JOYFUL RESORT - MarkMaker Logo.png}" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<nav class="navigation navbar navbar-expand-md navbar-dark ">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
								aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item"><a class="nav-link active fw-bold" href="index.html">首頁</a>
										<!-- 包含  最新消息 媒體報導...  --></li>
									<li class="nav-item"><a class="nav-link fw-bold" href="contact.html">關於我們</a></li>
									<li class="nav-item"><a class="nav-link fw-bold" href="room.html">飯店設施</a></li>
									<li class="nav-item"><a class="nav-link fw-bold" href="gallery.html">線上訂房</a></li>
									<li class="nav-item"><a class="nav-link fw-bold" href="blog.html">活動報名</a></li>
									<li class="nav-item"><a class="nav-link fw-bold" href="restaurant.html">餐飲服務</a></li>
									<li class="nav-item"><a class="nav-link  fw-bold" href="conference.html">宴會會議</a></li>
									<li class="nav-item"><a class="nav-link fw-bold" href="log.html">會員專區</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- header結束 -->

	<div style="width: 100%; display: flex; justify-content: center;">

		<div class="card mb-3" style="width: 300px; min-width: 300px; height:292px;">
			<h3 class="card-header">會員專區</h3>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">個人資料</li>
				<li class="list-group-item">訂房查詢</li>
				<li class="list-group-item">活動訂單</li>
				<li class="list-group-item">餐廳訂位</li>
				<li class="list-group-item">宴會聽</li>
			</ul>
			<div class="card-footer text-muted">JoyfulResort</div>
		</div>



		<div class="card" style="max-width: 600px; min-width: 600px;">
			<div class="card-header">
				<h3>個人資料</h3>
			</div>

			<div class="card-body">
				<form th:action="@{/frontend/member/userUpData}" method="post" enctype="multipart/form-data">
					<div class="input-group mb-3">
						<div style="width: 100%; display: flex;">
							<div id="preview" style="border: 1px dotted black; height: 150px; width: 150px; float: left;"><img
									th:src="@{/member/DBReader}+'?memberID='+${memberData.memberId}"></div>
							<div>
								<div class="input-group mb-3" style="float: left;">
									<span class="input-group-text">會員帳號</span> <span style="width: auto;" class="input-group-text"
										th:text="${memberData.memberAccount}"></span>
								</div>
								<div class="input-group mb-3" style="width: 300px;">
									<span class="input-group-text">會員名稱</span> <input type="text" name="memberName" class="form-control"
										th:value="${memberData.memberName}" aria-label="Amount (to the nearest dollar)">
								</div>
								<div>
									<input id="formFile" name="memberImg" th:fiele="*{memberImg}" class="form-control" type="file"
										style="width: 300px;">
								</div>
							</div>
						</div>
					</div>
					<span id="emailError" style="color: red; float: right;"></span>
					<div class="input-group mb-3" style="flex-shrink: 0; width:400px !important;">
						<span class="input-group-text"><span style="color:red;">*</span>信箱</span>
						<input id="memberEmail" name="memberEmail" type="text" class="form-control"
							th:value="${memberData.memberEmail}">
					</div>
					<span id="phoneError" style="color: red; float: right;"></span>
					<div class="input-group mb-3" style="width:400px !important;">
						<span class="input-group-text"><span style="color:red;">*</span>電話</span> <input id="memberPhone"
							name="memberPhone" type="text" class="form-control" th:value="${memberData.memberPhone}">
					</div>
					<div class="input-group mb-3" style="width: 100%;">
						<span class="input-group-text">地址</span> <input name="memberAddress" type="text" class="form-control"
							th:value="${memberData.memberAddress}">

						<span class="input-group-text" style="margin-left: 10px;">生日</span>
						<input type="date" name="memberBirthday" th:value="${memberData.memberBirthday}">

						<span class="input-group-text" style="margin-left: 10px;">性別</span>
						<select name="userGender" th:value="${memberData.memberGender}">
							<option value="0">男</option>
							<option value="1">女</option>
						</select>
					</div>



					<div style="display: flex; justify-content: center;">
						<button id="buttonUpData" type="submit" class="btn btn-secondary">送出修改</button>
					</div>
				</form>

			</div>

		</div>
	</div>


	<footer>
		<!-- footer 開始 -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<!-- 聯絡資訊 -->
					<div class="col-md-4">
						<h3>關於我們</h3>
						<ul class="conta">
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> 地址</li>
							<li><i class="fa fa-mobile" aria-hidden="true"></i> 03
								4501234</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> Joyfulresort@gmail.com</a></li>
						</ul>
					</div>
					<!-- 導航連結 -->
					<div class="col-md-4">
						<h3>目錄</h3>
						<ul class="link_menu">
							<li class="active"><a href="#">首頁</a></li>
							<li><a href="about.html">關於我們</a></li>
							<li><a href="room.html">房型</a></li>
							<li><a href="gallery.html">導覽</a></li>
							<li><a href="blog.html">報導</a></li>
							<li><a href="contact.html">聯絡我們</a></li>
						</ul>
					</div>
					<!-- 最新消息與社交媒體連結 -->
					<div class="col-md-4">
						<h3>最新消息</h3>
						<form class="bottom_form">
							<input class="enter" placeholder="電子郵件" type="text" name="Enter your email">
						</form>
						<ul class="social_icon">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 版權聲明 -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<p>
								© 2019 All Rights Reserved. Design by <a href="https://html.design/">Free Html Templates</a><br>
								<br>Distributed
								by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer 結束 -->





	<!-- Javascript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<script th:src="@{/frontend/js/jquery.min.js}"></script>
	<script th:src="@{/frontend/js/bootstrap.bundle.min.js}"></script>
	<!-- <script src="js/jquery-3.0.0.min.js"></script> -->
	<!-- 側邊欄 -->
	<script th:src="@{/frontend/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/frontend/js/custom.js}"></script>
	<script th:src="@{/frontend/js/memberinfo.js}"></script>


</body>

</html>